<html>
<div class="card text-center mb-3">
  <div class="card-body">
      <body>
        <div class="container">
          <h1> Toi aussi tu veux pouvoir écrire commenter liker </h1>
            <p>alors incrits-toi</p>



            <div class="row justify-content-center align-self-center mx-6">
              <div class="col-4">
                <%= label_tag 'Nom :' %>
              </div>
              <div class="col-8">
                <%= text_field_tag 'first_name', value = nil, options = {style:"height:30px;width:300px"} %>
              </div>
            </div>

            <div class="row justify-content-center align-self-center mx-6">
              <div class="col-4">
                <%= label_tag 'Prénom :' %>
              </div>
              <div class="col-8">
                <%= text_field_tag 'first_name', value = nil, options = {style:"height:30px;width:300px"} %>
              </div>
            </div>

            <div class="row justify-content-center align-self-center mx-6">
              <div class="col-4">
                <%= label_tag 'password :' %>
              </div>
              <div class="col-8">
                <%= text_field_tag 'first_name', value = nil, options = {style:"height:30px;width:300px"} %>
              </div>
            </div>


          </div>
        </body>
      </div>
        </div>
      </html>
